{% extends "accounts/base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="content">
<main class="main">
<div class="speedbar nowrap">
<span id="dle-speedbar"><span itemscope="" itemtype="https://schema.org/BreadcrumbList"><span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><meta itemprop="position" content="1"><a href="{% url 'home' %}" itemprop="item"><span itemprop="name">NORDFILM</span></a></span> » Восстановление пароля</span></span>
</div>
    {% if request.user.is_authenticated %}
<div class="berrors">
<b>Информация</b><br>
Вы успешно авторизованы на сайте.
</div>
    {% else %}
<div class="clearfix" id="in-full"><div id="dle-content">
    <form action="." method="post">
        {% csrf_token %}
<div class="form-wrap">
<h1>Восстановить пароль</h1>
<div class="form-item clearfix">
<label>Ваш e-mail:</label>
    <input type="text" name="email" placeholder="Ваш E-Mail на сайте" required id="id_email">
</div>
<!--<div class="form-item clearfix imp">-->
<!--<label>Введите два слова с картинки:</label>-->
<!--<div class="form-secur">-->
<!--</div>-->
<!--</div>-->
<div class="form-submit">
<button name="submit" type="submit">Отправить</button>
</div>
</div>
</form></div></div>
    {% endif %}
</main>
</div>
{% endblock %}