{% extends "accounts/base.html" %}

{% block title %}Восстановление вашего пароля{% endblock %}

{% block content %}
    <h1>Восстановление вашего пароля</h1>
    {% if validlink %}
        <p>Пожалуйста введите ваш пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно потому что
            уже была использована. Пожалуйста запросите сброс пароля снова.</p>
    {% endif %}
{% endblock %}